#courses .container .row {
    margin: 20px -0.75rem
}

#courses .container .row.flex {
    justify-content: center
}

#courses .card img.pos-abs {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 64px;
    height: 64px;
}

#courses .row .card {
    height: 150px;
}

#courses .row .card+h6 {
    height: 50px;
}

#courses #whatsApp a {
    width: auto;
    border-radius: 32px;
}

#courses #whatsApp a svg {
    margin: 16px 16px 16px 4px;
}

.modal.modal-fixed-footer#moduleDetailModal {
    overflow-y: visible;
    height: auto;
    max-width: 640px;
}

.modal.modal-fixed-footer .modal-footer.module-img {
    height: 72px;
    width: 72px;
    padding: 4px;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.modal.modal-fixed-footer .modal-content {
    position: static;
    height: 100%;
}