.play-youtube-video {
    object-fit: cover;
    max-height: 225px;
}

.youtube-video-place.yt-video:hover .play-icon .ytp-large-play-button-bg {
    fill: #f00;
    fill-opacity: 1;
}

.play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    -moz-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
    -webkit-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
    z-index: 63;
    cursor: pointer;
}

.play-icon .ytp-large-play-button-bg {
    -moz-transition: fill .1s cubic-bezier(0.4, 0.0, 1, 1), fill-opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
    -webkit-transition: fill .1s cubic-bezier(0.4, 0.0, 1, 1), fill-opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
    transition: fill .1s cubic-bezier(0.4, 0.0, 1, 1), fill-opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
    fill: #212121;
    fill-opacity: .8;
}

.navbar-fixed nav {

    position: static;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    z-index: 1001;
}

.navbar-fixed {
    position: sticky;
    top: 0;
}

nav.white.px-m-4.z-depth-0>.nav-wrapper>.left#phoneDisplay {
    height: 56px;
}

@media (min-width: 720px) {
    nav.white.px-m-4.z-depth-0>.nav-wrapper>.left#phoneDisplay {
        position: fixed;
        top: 0px;
        z-index: 1002;
    }
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #263a73;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right-color: #263a73;
    border-bottom-color: #263a73;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #263a73;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border-color: #263a73;

}

nav a.btn-flat:hover img {
    filter: invert(1);
    transform: rotate(360deg);
}

#mobile_more_social a img {
    height: 24px;
}

nav .instagram:hover {
    background-color: #e4405f !important;
}

.btn-floating img {
    height: 20px;
    width: 20px;
    margin: 7px;
    transition: all 400ms ease-in-out;
}

.btn-floating.pulse {
    height: 48px;
    width: 48px;
}

.btn-floating.pulse i {
    height: 48px;
    line-height: 48px;
    -webkit-animation: phone-icon 3000ms infinite;
    animation: phone-icon 3000ms infinite;
}

.btn-floating.pulse:hover i {
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes phone-icon {
    0% {
        -webkit-transform: translate3d(0em, 0, 0);
        transform: translate3d(0em, 0, 0);
    }

    2% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    4% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    6% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    8% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    10% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    12% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    14% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    16% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    18% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    20% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    22% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    24% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    26% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    28% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    30% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    32% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    34% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    36% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    38% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    40% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    42% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    44% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    46% {
        -webkit-transform: translate3d(0em, 0, 0);
        transform: translate3d(0em, 0, 0);
    }
}

@keyframes phone-icon {
    0% {
        -webkit-transform: translate3d(0em, 0, 0);
        transform: translate3d(0em, 0, 0);
    }

    2% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    4% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    6% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    8% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    10% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    12% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    14% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    16% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    18% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    20% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    22% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    24% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    26% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    28% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    30% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    32% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    34% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    36% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    38% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    40% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    42% {
        -webkit-transform: translate3d(0.05em, 0, 0);
        transform: translate3d(0.05em, 0, 0);
    }

    44% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }

    46% {
        -webkit-transform: translate3d(0em, 0, 0);
        transform: translate3d(0em, 0, 0);
    }
}

.home-banner {
    background-image: url("../images/landing-banner.jpg");
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: "CenturySchoolbookBold";
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url(../fonts/CenturySchoolbookBold.ttf);
}

.fancy-font {
    font-family: 'CenturySchoolbookBold';
}

.home-banner {
    max-height: 640px;
    height: 640px;
    background-position: center;
    background-size: cover
}

.home-banner>.pos-abs {
    top: 0;
    left: 2rem;
    right: 2rem;
    bottom: 0;
}

.home-banner form .input-field {
    margin-bottom: 0;
}

.home-banner form .input-field p {
    margin-top: 0;
}

@media (max-width: 992px) {
    .home-banner>.pos-abs {
        left: 0;
        right: 0;
    }

    #choose-us .p-4 .d-flex {
        display: block;
    }

    #choose-us .d-flex .card-panel {
        min-height: 270px;
    }

}

@media (max-width: 1112px) {
    #phoneDisplay span.num {
        display: block;
        height: 24px;
        clear: left;
        margin-top: -8px;
    }

}

@media (max-width: 600px) {
    .home-banner {
        height: 780px;
        max-height: 780px;
    }

    .home-banner>.pos-abs .card-panel {
        width: 100%;
        margin: 0 auto;
        float: none !important;
    }
}

#choose-us,
#reviews {
    position: relative;
}

#choose-us::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    background-color: #263a73;
    z-index: -1;
}

.divider.themed {
    background-color: rgba(255, 255, 255, 0.2);
}

#offer::before,
#offer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #263a73;
    z-index: -1;
}

#offer::before {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    top: 0;
}

#offer::after {
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
    bottom: 0;
}

#offer h5 {
    letter-spacing: 1px;
    word-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
}

#offer h5.highlight {
    -webkit-animation: highlight 2000ms infinite;
    animation: highlight 2000ms infinite;
}

@keyframes highlight {
    0% {
        color: rgba(255, 255, 255, 0.5);
        text-shadow: 0;
    }

    50% {
        color: rgba(255, 255, 255, 1);
        text-shadow: 0 6px 6px rgba(0, 0, 0, .42), 0 4.5px 3px rgba(0, 0, 0, .36), 0 6px 15px rgba(0, 0, 0, .6);
    }

    100% {
        color: rgba(255, 255, 255, 0.5);
        text-shadow: 0;
    }
}

@-webkit-keyframes highlight {
    0% {
        color: rgba(255, 255, 255, 0.7);
    }

    50% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        color: rgba(255, 255, 255, 0.7);
    }
}

#offer ul li {
    min-height: 30px;
}

@media (max-width: 600px) {

    #offer::before,
    #offer::after {
        height: 28%;
    }

    #offer::before {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    }

    #offer::after {
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    }
}

#reviews::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/footer.png');
    opacity: 0.2;
    z-index: -1;
}

#reviews>div {
    background-color: rgba(0, 0, 0, 0.2);
}

#reviews .card-image iframe {
    height: 220px;
    object-fit: cover;
}

#reviews .carousel .carousel-item {
    opacity: 1 !important;
    height: 300px;
}

#courses .container .row {
    margin: 20px -0.75rem
}

#courses .container .row.flex {
    justify-content: center
}

#courses .card .pos-abs {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 64px;
    height: 64px;
}

#courses .row .card {
    height: 120px;
}

#courses .row .card+h6 {
    height: 50px;
}

#trainers {
    background-image: url("../images/trainers.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#trainers>div.p-4 {
    background-color: rgba(0, 0, 0, 0.5);
}

#trainers .linkedin img {
    margin-top: 8px;
    width: 20px;
    height: 20px;
    filter: invert(1);
}

#testimonial .carousel .carousel-item {
    height: 280px;
}

#testimonial .carousel .carousel-item .avatar {
    top: -30px;
    margin: 0px -24px
}

#testimonial .carousel .carousel-item .avatar img {
    border: 4px solid white;
    height: 60px;
}

.right.hide-on-large-only {
    display: block !important;
}

.toast .toast-action {
    margin-left: 1rem;
}

@media (max-width: 600px) {
    .valign-wrapper {
        display: block
    }
}