.fc-scroller.fc-day-grid-container {
    height: auto !important;
}

.fc-dayGrid-view .fc-body .fc-row {
    max-height: 6em;
}

.fc table {
    font-size: 1rem;
}

.fc-today {
    font-size: 2rem;
}

tr {
    border-bottom: 0;
}

.fc-bgevent {
    background: #8fdf82;
    opacity: .3;
}

.fc-button-primary {
    background-color: #263a73 !important;

    letter-spacing: 0.25px;
    font-weight: 500;
    border-radius: 4px;

    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;

    font-size: 14px;
    outline: 0;

    border: none;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: capitalize;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
}