RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.wampinstitute\.in [NC] 
RewriteRule  .?  -  [S=67]
RewriteRule ^digital-marketing-course$ /courses/digital-marketing [R=301,L]
RewriteRule ^executive-digital-marketing-course$ /courses/executive-digital-marketing [R=301,L]
RewriteRule ^advanced-digital-marketing-course$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^overview-digital-marketing$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^social-media-marketing$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^mobile-marketing$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^online-graphic-designing-tools$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^website-introduction$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^content-writing$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^lead-generation$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^video-editing$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^website-creation-html-wordpress$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^email-marketing$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^e-commerce-setup-seo$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^video-optimization$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^search-engine-optimization$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^google-analytics$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^e-commerce-marketing-scm-tools$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^earning-youtube$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^google-adwords$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^google-webmaster-tools$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^online-reputation-management$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^earning-google-adsense$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^google-trends$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^audio-engineering$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^earning-freelancer$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^social-media-optimization$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^basics-marketing-branding$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^google-docs$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^conversion-rate-optimization$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^google-tag-manager$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^automation-tools-digital-marketing$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^quora-optimization$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^bing-tag-manager$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^product-marketing$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^bing-webmaster-tools$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^growth-hacking$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^affiliate-marketing$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^bing-adwords$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^google-admin-g-suite$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^google-forms-google-survey$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^adobe-spark$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^earning-digital-networking$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^google-sheets$ /courses/advanced-digital-marketing [R=301,L]
RewriteRule ^advanced-analytics-tools$ / [R=301,L]
RewriteRule ^introduction-url-shorteners$ / [R=301,L]
RewriteRule ^hosting-server-security$ / [R=301,L]
RewriteRule ^viral-marketing$ / [R=301,L]
RewriteRule ^bing-tag-manager$ / [R=301,L]
RewriteRule ^business-law$ / [R=301,L]
RewriteRule ^pro-blogging$ / [R=301,L]
RewriteRule ^website-creation-magento$ / [R=301,L]
RewriteRule ^coupons-work-marketing$ / [R=301,L]
RewriteRule ^importance-gst-digital-marketing$ / [R=301,L]
RewriteRule ^google-doubleclick$ / [R=301,L]
RewriteRule ^best-practices-job-seekers$ / [R=301,L]
RewriteRule ^entrepreneurship-now-never$ / [R=301,L]
RewriteRule ^whatsapp-marketing$ / [R=301,L]
RewriteRule ^automation-tools-digital-marketing$ / [R=301,L]
RewriteRule ^entrepreneurship-now-never$ / [R=301,L]
RewriteRule ^personal-branding$ / [R=301,L]
RewriteRule ^startup-hacks$ / [R=301,L]
RewriteRule ^earning-third-party-services$ / [R=301,L]
RewriteRule ^updated-digital-marketer$ / [R=301,L]
RewriteRule ^soft-skill-training$ / [R=301,L]
RewriteRule ^earning-domains$ / [R=301,L]
RewriteRule ^stock-management-digital-marketing$ / [R=301,L]


#RewriteRule ^/?courses/(.*?)/?$ /course.html?url=$1 [L]

#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /course\.html\?url=([^\&\ ]+)
#RewriteRule ^/?course\.html$ /courses/%1? [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

#AddHandler application/x-httpd-lsphp .htm .html
AddType application/x-httpd-php .html

ErrorDocument 404 /4O4.html
ErrorDocument 500 /5OO.html