<section class="lazy-background animatedParent animateOnce" id="certificates">
    <div class="p-4 fadeInUpShort animated">
        <br />
        <h3 class="white-text center-align text-z-depth-2">
            One Training Program
            15 Certifications
        </h3>
        <!-- <p class="white-text mx-4 center-align text-z-depth-2">
            It is only skills and not degree that can help you grow. But if you are one of those individuals who believe
            in getting certified along with skills then we have got you covered. After
            completion of the training not only will you become an expert in digital marketing
            but you will also be a Google, Facebook & Hubspot certified professional.

        </p> -->
        <div class="p-m-3">
            <!-- <h4 class="center m-0 mb-2">One Training Program
                    15 Certifications</h4>
                <br /> -->
            <ul class="collection pos-rel border-radius-8 mx-auto white">
                <li class="collection-item avatar transparent">
                    <img src="images/courses/aw.png" alt="Google Ads" class="circle">
                    <span class="title fw-500">6 Google Ads Certifications</span>
                    <p>To become Google Ads Certified, you'll need to pass the Google Ads Fundamental
                        exam and one more Google Ads exam. WAMP will prepare and help you to clear all
                        these exams

                        <div class="row my-1">
                            <div class="col s12 m6 l4"><i
                                    class="left material-icons text-primary">check_circle</i>Google Ads
                                Fundamental</div>
                            <div class="col s12 m6 l4"><i class="left material-icons text-primary">check_circle</i>Video
                                Advertising</div>
                            <div class="col s12 m6 l4"><i
                                    class="left material-icons text-primary">check_circle</i>Search
                                Advertising</div>
                            <div class="col s12 m6 l4"><i
                                    class="left material-icons text-primary">check_circle</i>Shopping
                                Advertising</div>
                            <div class="col s12 m6 l4"><i
                                    class="left material-icons text-primary">check_circle</i>Display
                                Advertising</div>
                            <div class="col s12 m6 l4"><i
                                    class="left material-icons text-primary">check_circle</i>Mobile
                                Advertising</div>
                        </div>
                    </p>
                </li>
                <li class="collection-item avatar">
                    <img src="images/certificates/hubspot.png" alt="HubSpot" class="circle">
                    <span class="title fw-500">3 Hubspot Certifications</span>
                    <p>
                        <div class="row my-1">
                            <div class="col s12 m6 l4"><i
                                    class="left material-icons text-primary">check_circle</i>Inbound
                                certification</div>
                            <div class="col s12 m6 l4"><i
                                    class="left material-icons text-primary">check_circle</i>Content
                                Marketing certification</div>
                            <div class="col s12 m6 l4"><i class="left material-icons text-primary">check_circle</i>Email
                                Marketing
                                certification</div>
                        </div>
                    </p>

                </li>
                <div class="row m-0">
                    <div class="col s12 m6">
                        <li class="collection-item avatar">
                            <img src="images/certificates/facebook-blueprint.jpg" alt="Facebook Blueprint"
                                class="circle">
                            <span class="title fw-500">Facebook Blueprint Certification</span>
                        </li>
                    </div>
                    <div class="col s12 m6">
                        <li class="collection-item avatar">
                            <img src="images/certificates/analytics.png" alt="Google Analytics" class="circle red">
                            <span class="title fw-500">Google Analytics Certification </span>
                        </li>
                    </div>
                    <div class="col s12 m6 border-top-1 grey-border border-lighten-2">
                        <li class="collection-item avatar">
                            <img src="images/certificates/google-mobile.png" alt="Google Mobile Sites" class="circle">
                            <span class="title fw-500">Google Mobile Sites Certification </span>
                        </li>
                    </div>
                    <div class="col s12 m6 border-top-1 grey-border border-lighten-2">
                        <li class="collection-item avatar">
                            <img src="images/certificates/google-digital-sales.svg" alt="Google Digital Sales"
                                class="circle blue lighten-5">
                            <span class="title fw-500">Google Digital Sales Certification </span>
                        </li>
                    </div>
                    <div class="col s12 m6 border-top-1 grey-border border-lighten-2">
                        <li class="collection-item avatar">
                            <img src="images/certificates/semrush.jpg" alt="SEMrush" class="circle">
                            <span class="title fw-500">SEMrush Certification </span>
                        </li>
                    </div>
                    <div class="col s12 m6 border-top-1 grey-border border-lighten-2">
                        <li class="collection-item avatar transparent">
                            <img src="images/wamp-round-logo.png" alt="WAMP Certificate" class="circle">
                            <span class="title fw-500">Industry Recognized WAMP Certificate </span>
                        </li>
                    </div>
                </div>
                <div class="pos-abs ribbon"><img src="images/award.png" class="w-full" /></div>
            </ul>

        </div>
        <br />
    </div>
</section>