<section class="p-4 instructors">
    <h3 class="center-align">Instructors</h3>
    <p class="mx-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem cumque
        voluptatibus inventore fugit exercitationem odit impedit laboriosam
        officia quas obcaecati distinctio nemo ea porro, labore possimus
        dolorem recusandae rerum sit?
    </p>
    <div class="row mx-2">
        <div class="col s12 m6 l3 p-m-3">
            <div class="card border-radius-8" style="overflow: hidden">
                <div class="card-image">
                    <img src="images/Avengers.jpg">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light bg-primary modal-trigger"
                        href="#instructorInfo"><i class="material-icons">launch</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3 p-m-3">
            <div class="card border-radius-8" style="overflow: hidden">
                <div class="card-image">
                    <img src="images/Avengers.jpg">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light bg-primary modal-trigger"
                        href="#instructorInfo"><i class="material-icons">launch</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3 p-m-3">
            <div class="card border-radius-8" style="overflow: hidden">
                <div class="card-image">
                    <img src="images/Avengers.jpg">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light bg-primary modal-trigger"
                        href="#instructorInfo"><i class="material-icons">launch</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3 p-m-3">
            <div class="card border-radius-8" style="overflow: hidden">
                <div class="card-image">
                    <img src="images/Avengers.jpg">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light bg-primary modal-trigger"
                        href="#instructorInfo"><i class="material-icons">launch</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                        because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal Structure -->
<div id="instructorInfo" class="modal" style="max-width: 500px">
    <div class="modal-content">
        <h4>Instructor Name</h4>
        <p>His/Her information</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div>