<section class="p-4">
        <h3 class="center-align">Instructors</h3>
        <p class="mx-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem cumque
            voluptatibus inventore fugit exercitationem odit impedit laboriosam
            officia quas obcaecati distinctio nemo ea porro, labore possimus
            dolorem recusandae rerum sit?
        </p>
        <div class="row mx-2">
            <div class="col s12 m6 l3 p-m-3">
                <div class="card-panel">
                    <img class="round img w-full" src="images/Captain_America_Shield.png" />
                    <h4><i class="material-icons">star</i> Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi nam eligendi saepe eveniet
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l3 p-m-3">
                <div class="card-panel">
                    <img class="round img w-full" src="images/Captain_America_Shield.png" />
                    <h4><i class="material-icons">star</i> Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi nam eligendi saepe eveniet
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l3 p-m-3">
                <div class="card-panel">
                    <img class="round img w-full" src="images/Captain_America_Shield.png" />
                    <h4><i class="material-icons">star</i> Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi nam eligendi saepe eveniet
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l3 p-m-3">
                <div class="card-panel">
                    <img class="round img w-full" src="images/Captain_America_Shield.png" />
                    <h4><i class="material-icons">star</i> Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi nam eligendi saepe eveniet
                    </p>
                </div>
            </div>
        </div>
    </section>