<ul class="sidenav" id="mobile-sidenav">
  <li class="waves-effect w-full show-on-medium pos-rel lh-0 top-banner">
  </li>
  <li class="user-mobile-drop"></li>
  <li class="waves-effect w-full mt-2">
    <a href="/"><i class="material-icons">home</i> Home</a>
  </li>
  <li class="waves-effect w-full">
    <a class="about dropdown-trigger" href="javascript:;" data-target="about_dropdown"><i class="material-icons">group</i>
      About
      <!-- <i class="material-icons right">expand_more</i>
    --></a>
  </li>
  <li class="about-mobile-drop"></li>
  <li class="waves-effect w-full">
    <a class="service dropdown-trigger" href="javascript:;" data-target="service_dropdown"><i class="material-icons">devices</i>
      Services
      <!-- <i class="material-icons right">expand_more</i>
    --></a>
  </li>
  <li class="service-mobile-drop"></li>
  <li class="waves-effect w-full">
    <a href="work"><i class="material-icons">whatshot</i> Our Work</a>
  </li>
  <li class="divider"></li>
  <li><a class="subheader">Communicate</a></li>
  <li class="waves-effect w-full">
    <a href="http://blog.wampinfotech.com"><i class="material-icons">forum</i> Blog</a>
  </li>
  <li class="waves-effect w-full">
    <a href="contact"><i class="material-icons">contact_mail</i> Contact Us</a>
  </li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo fw-700 text-primary"><img src="images/wamp-round-logo.png" class="brand-img" alt="WAMP Logo Round" />
        <h1 class="fw-700">WAMP&nbsp;Institute</h1>
      </a>
      <a href="javascript:;" data-target="mobile-sidenav" class="sidenav-trigger text-primary"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="hover-text-primary fw-500">Home</a></li>
        <li>
          <a class="about dropdown-trigger hover-text-primary fw-500" href="javascript:;" data-target="about_dropdown">About
            <!-- <i class="material-icons right">expand_more</i>
          --></a>
        </li>
        <li>
          <a class="service dropdown-trigger hover-text-primary fw-500" href="javascript:;" data-target="service_dropdown">Course
            Module
            <!-- <i class="material-icons right">expand_more</i>
          --></a>
        </li>
        <li>
          <a href="http://blog.wampinfotech.com" class="hover-text-primary fw-500">Blog</a>
        </li>
        <li><a href="signin" class="hover-text-primary fw-500">Career</a></li>
        <li><a href="signin" class="hover-text-primary fw-500">FAQ</a></li>
        <li>
          <a href="contact" class="hover-text-primary fw-500">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- About Dropdown Structure -->
<ul id="about_dropdown" class="dropdown-content">
  <li><a href="overview" class="hover-text-primary">Overview</a></li>
  <li><a href="team" class="hover-text-primary">Our Team</a></li>
  <li><a href="mission" class="hover-text-primary">Mission and Vision</a></li>
</ul>

<!-- About Dropdown Structure -->
<ul id="user_dropdown" class="dropdown-content">
  <li>
    <a href="dashboard" class="hover-text-primary"><i class="material-icons left">dashboard</i>Dashboard</a>
  </li>
  <li>
    <a href="profile" class="hover-text-primary"><i class="material-icons left">account_circle</i>Profile</a>
  </li>
  <li>
    <a href="settings" class="hover-text-primary"><i class="material-icons left">build</i>Settings</a>
  </li>
  <li>
    <a href="feedback" class="hover-text-primary"><i class="material-icons left">feedback</i>Feedback</a>
  </li>
  <li>
    <a href="javascript:signout();" class="hover-text-primary"><i class="material-icons left">exit_to_app</i>Sign out</a>
  </li>
</ul>

<!-- Services Dropdown Structure -->
<ul id="service_dropdown" class="dropdown-content row py-2">
  <li>
    <a class="hover-text-primary">Executive Digital Marketing</a>
  </li>
  <li>
    <a class="hover-text-primary">Advanced Digital Marketing</a>
  </li>
  <li>
    <a class="hover-text-primary">Master In Advanced Digital Marketing</a>
  </li>
</ul>