<ul class="sidenav" id="mobile-sidenav">
  <li class="waves-effect w-full show-on-medium pos-rel lh-0 top-banner">
  </li>
  <li class="user-mobile-drop"></li>
  <li class="waves-effect w-full mt-2">
    <a href="/"><i class="material-icons">home</i> Home</a>
  </li>
  <li class="waves-effect w-full">
    <a href="about"><i class="material-icons">group</i>
      About</a>
  </li>
  <li class="waves-effect w-full" onclick="popOut(this)">
    <a href="javascript:;"><i class="material-icons">school</i>
      Courses
    </a>
    <ul class="small-drop">
      <li><a href="courses/executive-digital-marketing" class="truncate">Executive Digital Marketing</a></li>
      <li><a href="courses/advance-digital-marketing" class="truncate">Advanced Digital Marketing</a></li>
      <li><a href="courses/crash-course-digital-marketing" class="truncate">Crash Course in Digital Marketing</a></li>
    </ul>
  </li>
  <li class="waves-effect w-full">
    <a href="http://blog.wampinstitute.in"><i class="material-icons">forum</i> Blog</a>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">live_help</i> FAQ</a>
  </li>
  <li class="waves-effect w-full">
    <a href="contact"><i class="material-icons">contact_mail</i> Contact Us</a>
  </li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/institute/" class="brand-logo fw-700 text-primary"><img src="images/wamp-round-logo.png"
          class="brand-img" alt="WAMP Logo Round" />
        <h1 class="fw-700">WAMP&nbsp;<div style="font-size: 0; display: inline-block; line-height: 1;"><span
              style="font-size: 9px;letter-spacing: 0px">DIGITAL
              MARKETING</span><br /><span style="font-size: 16px;letter-spacing: 1.5px">INSTITUTE</span></div>
        </h1>
      </a>
      <a href="javascript:;" data-target="mobile-sidenav" class="sidenav-trigger text-primary"><i
          class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/institute/" class="hover-text-primary fw-500">Home</a></li>
        <li>
          <a class="hover-text-primary fw-500" href="about">About</a>
        </li>
        <li class="drop">
          <a class=" hover-text-primary fw-500" href="javascript:;">Courses</a>
          <ul>
            <li><a href="courses/executive-digital-marketing">Executive Digital Marketing</a></li>
            <li><a href="courses/advance-digital-marketing">Advanced Digital Marketing</a></li>
            <li><a href="courses/crash-course-digital-marketing">Crash Course in Digital Marketing</a></li>
          </ul>
        </li>
        <li>
          <a href="http://blog.wampinstitute.in" class="hover-text-primary fw-500">Blog</a>
        </li>
        <li><a href="faq" class="hover-text-primary fw-500">FAQ</a></li>
        <li>
          <a href="contact" class="hover-text-primary fw-500">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>